body {
    font-family: 'Poppins';
}

.fundo-video {

    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.fundo-video video {
    height: 100vh;

}

.fundo-video::after {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 1) 100%);

}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    width: 65px;
}

.menu {
    display: flex;
    align-items: center;
    height: 100%;
}


.menu a {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 300ms;
}

.menu a:hover {
    background-color: #d5011d;
}

main {

    background-color: #d5011d;
    width: 800px;
    margin: 60px auto;
    height: 400px;
    border-radius: 30px;
    align-items: center;

}

main h1 {

    text-align: center;
    padding: 20px;
    color: #ffffff;

}

main p {
    padding: 10px 0 0 0;
    text-align: center;
    color: #ffffff;
    margin: 0 20px;
    font-size: 16px;

}

main a {
    color: black;
    font-weight: bold;
}

main a:hover {
    color: white;

}

main a:active {
    color: orange;
}

main h2 {
    text-align: center;
    padding: 10px;
    color: #ffffff;
}

main ul {
    display: flex;
    margin: 0 310px;
    gap: 20px;

}

main img {
    width: 80px;
    transition: 400ms;
}

main img:hover {
    transform: scale(1.2);
}