@media (max-width: 1200px) {
    body {
        background-color: #f44336;
    }

    .fundo-video {
        display: none;
    }

    main {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
        background-color: #f44336;
        height: 600px;
    }

    main h1 {
        color: #ffffff;
    }

    main p {
        color: #ffffff;
    }

    main h2 {
        color: #ffffff;
    }
}

@media (max-width: 500px) {

    
    .cabecalho {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    main {
        width: 380px;
    }

    main h1 {
        color: #ffffff;
        position: relative;
       
    }


    main p {
        color: #ffffff;
        text-align: center;
        width: 85%;
        font-size: 14px;
        font-weight: bold;
    }

    main h2 {
        color: #ffffff;
        position: relative;
        
    }

    main img {

        position: relative;
        left: -130px;

    }
}